
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #fff;
    border: 3px solid rgb(34, 3, 121);
    border-radius: 15px;

    &__logo a {
      text-decoration: none;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      background-color: #ffffff;
      color: #1e90ff;
      padding: 5px 15px;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav{
        overflow: hidden;
        box-sizing: border-box;
        display: inline-flex;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        background-color: #fff;
        padding: 0 20px;
        border-radius: 40px;
        box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
        &-item {
          color: #83818c;
          padding: 20px;
          text-decoration: none;
          transition: 0.3s;
          margin: 0 6px;
          z-index: 1;
          font-family: "DM Sans", sans-serif;
          font-weight: 500;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #dfe2ea;
            border-radius: 8px 8px 0 0;
            opacity: 0;
            transition: 0.3s;
          }
        }
        &-item:not(.is-active):hover:before {
          opacity: 1;
          bottom: 0;
        }
        &-item:not(.is-active):hover {
          color: black;
          scale: 1.3;
        }
        &-indicator {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 4px;
          height: 5px;
          z-index: 1;
          border-radius: 8px 8px 0 0;
          background-color: #1e90ff;
        }
    }

    .is-active{
      color:#1e90ff;
      scale: 1.3;
    }
  }
